@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0f;
    --foreground: #ededed;
  }
}

.nav_holder {
    @apply flex justify-evenly gap-8 items-center
}

.nav_holder a {
    @apply hover:text-white text-ctp-green-500 transition-all align-middle inline-block no-underline
}


.content {
    @apply mt-16 bg-ctp-crust p-4 w-3/4 pl-32 pr-32
}

.content p {
    @apply indent-16
}

.content > div > div > * {
    @apply mt-4 mb-4
}

@keyframes fade-in {
    from {
        opacity: 0; 
    }
}

.content * {
    animation: fade-in 1000ms ease-in-out;
}

.content img {
    @apply ml-auto mr-auto mt-8 mb-8;
}

.small  {
    @apply h-8;
}
a {
    @apply text-ctp-green-500 underline
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
    @apply text-4xl text-center font-bold m-8
}

h2 {
    @apply text-2xl font-bold m-4 text-center;
}

h3 {
    @apply text-2xl font-bold m-4
}


ul,
ol {
    @apply ml-8
}

ul {
    @apply list-disc
}
